@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@font-face {
    font-family: 'bebas';
    src: url('/assets/fonts/bebas.ttf');
}
* {
	box-sizing: border-box;
}
html { /* Makes the page not jump around when the scrollbar loads */
    margin-left: calc(100vw - 100%);
}
form {
    position:absolute;
    top:70px;
}
header {
    background-color:black;
    position:absolute;
    display:flex;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
}
#userna {
    font-family:"Arial black";
    position:relative;
    top:50px;color:grey;
    left:-50px;
    font-size:20px;
}
.username {
    font-family: Arial,Helvetica,sans-serif;
    color: grey;
}
.dispname {
    font-family:"Arial black";
}
h1 {
    color:white;
    content:"";
    display: ruby;
    align-items: center;
    font-family: bebas;
    width: 100%;
    vertical-align: middle;
    font-size:40px;
    letter-spacing: 1px;
    position:relative;
    left:0px;
    top:-5px;
    margin:0;
}
div {
    position: relative;
    top:70px;
}
img {
    border:10px solid black;
    border-radius: 10px;
    padding:0;
    margin:0;
}
.comment{
    border: 3px solid darkgray;
    width: max-content;
    padding: 5px;
    margin-bottom: 6px;
    border-radius: 3px;
}
.lang-clicker{
	position:relative;
	display:flex;
	right:0;
	margin:3px;
	max-width:32px !important;
	max-height:32px !important;
	width:32px !important;
	height:32px !important;
	z-index:10;
	float:right;
}
.mbut img{
	z-index: 9 !important;
	top:0px !important;
	width:32px !important;
	height:32px !important;
	max-width:32px !important;
	max-height:32px !important;
}
.drpdwn {
	width:100% !important;
}
.inverted{
	filter:invert(100%);
}
ul{
    position: absolute;
    top:100px; 
}
header a{
    position:relative;
    top:0px;
    height:100%;
    line-height:normal;
    text-align:center;
    margin:5px;
    text-decoration: none;
    color: white;
    vertical-align:middle;
    white-space: nowrap;
}
header a:hover{
    text-decoration: underline;
}
.usern{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(0, 62, 231);
    font-family: "Arial Black",Arial,"Sans serif"; 
}
.usern:hover{
    text-decoration: underline;
}
a {
    font-family: lobster, Arial, "Sans serif";
    position: relative;
    text-decoration: none;
}
div img{
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
    max-width:350px;
    max-height:350px;
    width: auto;
    height: auto;
}
div a img{
    margin:auto;
    text-decoration: none;
}
h2 {
    margin-left:5px;
    display: inline-block;
    vertical-align: middle;
}
#info{
    position:relative;
}
h5 {
    font-family: "Arial black", Helvetica, sans-serif;
    margin-top:80px;
    font-size:20px;
    display: inline-block;
    vertical-align: middle;
}
.leftmost {
    margin-left: 10px;
}
.mbut {
    background:none;
    color:inherit;
    border:none; 
    padding:none!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
    padding:0;
    border: none;
    visibility: none;
    height:0;
    width:0;
    max-height:0;
    max-width:0;
    border-radius: 0;user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    outline: 0;
}
.heart img {
    border:none;
    padding:none;
    position:relative;
    bottom:100px;
    max-height: 23px;
    border: none;
}
body {
    background: #f4f4f4;
    overflow-x: hidden;
}

.mobile-dropdown {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 69%;
    top: 84px;
    max-width:50%;
}

.mobile-dropdown li {
    float: none;
}

.mobile-dropdown.open {
    height: auto;
}

.menu-icon {
    position: absolute;
    right: 25px;
    bottom: 108px;
    display: none;
    border:none;
    max-width:20px;
    filter: invert(255);
    cursor: pointer;
}
@media screen and (max-width: 497px) {
    img.leftmost {
      max-width: 100vw ;
      width: 85vw ;
      margin: 0 calc(-50vw + 50%);
      max-height: 30vh;
      object-fit: cover;
      margin-left: 6px;
    }

    h5.username {
        position: relative;
        top:25px;
    }

    h2.dispname {
        font-size: 30px;
        font-weight: 900;
        position: relative;
        top: 10px;
        left: 105px;
    }

    h1.leftmost {
        margin-left: -4px;
    }

    .html {
        overflow-x:hidden;
    }

    .mobile-dropdown {
        display:block;
        height: 0;
    }

    .menu-icon {
        display:block;
    }
    header > a {
        display:none;
    }
    nav {
        display: block;
    }
}
/*.html { 
    position:absolute;
    overflow-y: hidden;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}*/
.mobile-dropdown li {
    padding-bottom: 30px;
    background: #4B4B4B;
    position: relative;
    z-index: 500;
    margin-bottom: 2px;
}
  
.mobile-dropdown li a {
    padding: 6px 5px 0 5px;
    font-weight: 700;
    height: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    top:-3px;
}
